<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wh.fcfz.officecontroller.all.mapper.ApprovalFormsMapper">

    <resultMap id="ApprovalFormsResultMap" type="wh.fcfz.officecontroller.all.bean.Vo.ApprovalFormsVo">
        <id property="formId" column="form_id" />
        <result property="applicantId" column="applicant_id" />
        <result property="allId" column="all_id" />
        <result property="fromName" column="from_name" />
        <result property="applicationDate" column="application_date" />
        <result property="status" column="status" />
        <result property="type" column="type" />
        <result property="description" column="description" />
        <result property="userName" column="user_name" />
        <result property="departmentName" column="depart_name" />
    </resultMap>
    <select id="getList" resultMap="ApprovalFormsResultMap">
            SELECT
                af.form_id AS form_id,
                af.applicant_id AS applicant_id,
                af.all_id AS all_id,
                af.from_name AS from_name,
                af.application_date AS application_date,
                af.status AS status,
                af.type AS type,
                af.description AS description,
                u.user_name AS user_name,
                d.depart_name AS depart_name
            FROM
                approval_forms af
            LEFT JOIN user u ON af.applicant_id = u.user_id
            LEFT JOIN depart d ON u.department_id = d.depart_id
            <where>
                <if test="formId != null">
                    AND af.form_id = #{formId}
                </if>
                <if test="applicantId != null">
                    AND af.applicant_id = #{applicantId}
                </if>
                <if test="allId != null">
                    AND af.all_id = #{allId}
                </if>
                <if test="fromName != null and fromName != ''">
                    AND af.from_name LIKE CONCAT('%', #{fromName}, '%')
                </if>
                <if test="status != null">
                    AND af.status = #{status}
                </if>
                <if test="type != null">
                    AND af.type=#{type}
                </if>
                <if test="description != null and description != ''">
                    AND af.description LIKE CONCAT('%', #{description}, '%')
                </if>
                <if test="userName != null and userName != ''">
                    AND u.user_name LIKE CONCAT('%', #{userName}, '%')
                </if>
                <if test="departmentName != null and departmentName != ''">
                    AND d.depart_name LIKE CONCAT('%', #{departmentName}, '%')
                </if>
            </where>
            ORDER BY
                af.application_date DESC
    </select>
    <select id="getFileList" resultType="wh.fcfz.officecontroller.all.bean.Dao.File">
            SELECT
                f.file_url
            FROM
                file f
            LEFT JOIN approval_forms af ON af.form_id = f.business_id
            WHERE
                f.business_type = '审批'
            AND f.business_id = #{formId}
            ORDER BY
                f.upload_time DESC
    </select>

</mapper>