<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wh.fcfz.officecontroller.all.mapper.AttendanceMapper">
    <select id="selectAllAttendances" resultType="wh.fcfz.officecontroller.all.bean.Vo.AttendancesVo">
        SELECT
        a.attendance_id as attendance_id,
        a.attendance_user_id as attendance_user_id,
        u.user_name as userName,
        d.depart_name as departName,
        a.time_in as time_in,
        a.time_out as time_out,
        a.date as date,
        a.status as status,
        a.address as address,
        a.type as type
        FROM
        user as u
        INNER JOIN depart as d ON u.department_id = d.depart_id
        INNER JOIN attendance as a ON a.attendance_user_id = u.user_id
        <where>
            <if test="attendanceId != null">
                AND a.attendance_id = #{attendanceId}
            </if>
            <if test="attendanceUserId != null">
                AND a.attendance_user_id = #{attendanceUserId}
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="departName != null and departName != ''">
                AND d.depart_name LIKE CONCAT('%', #{departName}, '%')
            </if>
            <if test="date != null">
                AND a.date = #{date}
            </if>
            <if test="status != null">
                AND a.status = #{status}
            </if>
            <if test="address != null and address != ''">
                AND a.address LIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="type != null">
                AND a.type = #{type}
            </if>
        </where>
    </select>
    <!-- 查询用户名称 -->
    <select id="selectAllUserName" resultType="java.lang.String">
        SELECT u.user_name
        FROM user as u
        WHERE u.user_id = #{attendanceId}
    </select>

    <!-- 查询部门名称 -->
    <select id="selectAllDepartName" resultType="java.lang.String">
        SELECT d.depart_name
        FROM depart as d
                 INNER JOIN user as u ON u.department_id = d.depart_id
        WHERE u.user_id = #{attendanceId}
    </select>
    <select id="getCountByMonth" resultType="wh.fcfz.officecontroller.all.bean.Dao.Attendance">
            select *
            from attendance
            where
              attendance_user_id = #{userId}
              <if test="year != 0">
                  and  year(date) = #{year}
              </if>
              <if test="month != 0">
                and month(date) = #{month}
              </if>
    </select>
</mapper>