<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wh.fcfz.officecontroller.all.mapper.FormTemplateFieldMapper">

    <resultMap id="BaseResultMap" type="wh.fcfz.officecontroller.all.bean.Dao.form.FormTemplateField">
            <id property="filedId" column="filed_id" jdbcType="BIGINT"/>
            <result property="templateId" column="template_id" jdbcType="BIGINT"/>
            <result property="fieldTitle" column="field_title" jdbcType="VARCHAR"/>
            <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
            <result property="validationRule" column="validation_rule" jdbcType="VARCHAR"/>
            <result property="isRequired" column="is_required" jdbcType="INTEGER"/>
            <result property="formItemType" column="form_item_type" jdbcType="VARCHAR"/>
            <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
            <result property="createDept" column="create_dept" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        filed_id,template_id,field_title,
        field_type,validation_rule,is_required,
        form_item_type,default_value,create_dept,
        create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
