<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wh.fcfz.officecontroller.all.mapper.UserSchedulingMapper">
    <select id="selectUsers" resultType="wh.fcfz.officecontroller.all.bean.Dao.UserScheduling">
        select
            user_scheduling.user_id AS userId,
            user_scheduling.scheduling_id AS schedulingId,
            scheduling.rule AS rule
        from user_scheduling,scheduling
        where scheduling.date=#{date}
          and user_scheduling.scheduling_id=scheduling.scheduling_id
    </select>
</mapper>
